:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
  margin: 2px;
  width: fit-content;
  min-width: 180px;
}
