:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.tabs-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: var(--bg-header-color);
}

.tabs {
  display: flex;
  // flex: 1 1 auto;
  min-width: 0;
  // display: flex;
  // flex-direction: row;
  // width: 100%;
  // padding: 4px;
}

.tab {
  display: flex;
  flex-direction: row;
}

@media (hover: hover) {
  .tab:hover {
    border-bottom: 2px solid white;
  }
}

@media (max-width: 768px) {
  .tabs-container {
    padding-left: 40px;
  }
}

.icons {
  display: flex;
  flex-direction: row;
}

.icon {
  display: flex;
  border: none;
  background: transparent;
  border-radius: 8px;
  padding: 5px;
  align-items: center;
}

.icon:hover {
  background-color: var(--bg-hover-color);
  color: var(--toggle-color); //rgb(84, 207, 255);
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--border-color);
  padding-left: 10px;
  width: 100%;
}

.header-down {
  display: flex;
  flex-direction: row;
  background-color: var(--border-color);
}

.dashboard-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add-button {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  height: fit-content;
}

.button {
  color: white;
  margin-left: 10px;
  border: solid 1px;
  border-radius: 4px;
  margin: 6px 6px;
  height: 24px;
}

.button:hover {
  border: solid 1px white; //var(--toggle-color);
  color: white; //var(--toggle-color);
}

button:disabled {
  cursor: not-allowed;
}

// .mat-mdc-tab-header {
//   overflow: visible;
// }
