// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

:root {
  --icons-color: #4173a8;
  --border-color: dimgray;
  --bg-header-color: #163036;
  --bg-color: #282828;
  --toggle-color: rgb(0, 162, 255);
  --icons-active-color: yellow;

  @include mat.slide-toggle-overrides(
    (
      track-height: 12px,
      selected-track-color: var(--toggle-color),
      selected-handle-color: var(--toggle-color),
      unselected-track-color: gray,
      unselected-icon-size: 0px,
      selected-icon-size: 0px,
      selected-pressed-handle-horizontal-margin: 0px,
      selected-track-outline-color: var(--toggle-color),
      selected-focus-handle-color: var(--toggle-color),
      selected-focus-track-color: var(--toggle-color),
      selected-hover-handle-color: var(--toggle-color),
      selected-hover-track-color: var(--toggle-color),
    )
  );
}

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: dark;

  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}

.highlight {
  outline: 2px solid red;
}
