:host {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  width: 100%;
  // gap: 10px;
  // border: 1px solid #ccc;
  // justify-content: safe;
}

.icon {
  padding-right: 16px;
  width: 20%;
}

.inactive {
  color: var(--icons-color);
}

.active {
  color: var(--icons-active-color);
}

.label {
  width: 100%;
}
