:host {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid var(--border-color);
  padding: 10px;
  gap: 10px;
}

@media ((hover: hover) and (max-width: 768px)) {
  :host:hover {
    background-color: var(--bg-header-color);
    color: var(--toggle-color);
    cursor: pointer;
  }
}
